*.aux
*.gz
*.fdb_latexmk
*.fls
*.log
*.DS_Store  
*.csv
*.pkg
__pycache__/
*.py[cod]
*.*ml
chromedriver
*.bson
*.out
*.xdv
.vscode/
*.mat
*.asv
*.fig
sweep/results
sweep/slurm/*
._*
*.pdf
*.jld2
*.bson